input, label {
    all: unset;
    display: inline;
}

body {
    text-shadow: 0 0 8px #00ff41, 0 0 15px #00ff41;
}


input {
    caret-color: cyan;
}

label {
    text-align: right;
    white-space: normal;
}

* {
  font-family: 'Fira Code', monospace;
  color-scheme: dark;
  cursor: text;
}

body {
    background-color: #121217;
    overflow-x: hidden;
}

*::selection {
    background-color: #036363;
    text-shadow: .1em .1em .5em #000;
}

pre *, pre {
    text-shadow: .1em .1em .5em #3d3d3d;
}

pre:not(.prompt) {
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

a {
    color: inherit !important;
}

a:hover {
    background-color: white;
    color: black !important;
}

p {
    margin: 0;
    text-align: right;
}
.prompt-line {
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
}

.prompt-input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  width: 100%;
}


.mobile {
    display: none;
}

@media (max-width: 756px) {
    .mobile {
        display: block;
    }
    .nomobile {
        display: none;
    }
}
